SPRING_PROFILES_ACTIVE=mysql
DB_URL=jdbc:mysql://localhost:3306/ucon_kma?createDatabaseIfNotExist=true&useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Ho_Chi_Minh
DB_USERNAME=ucon_app
DB_PASSWORD=ucon_app_123

